@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* background: #000; */
}
.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
  }